body {
    text-align: center;
    background-color: darkgray;
}

.canvas_game {
    border: 10px double black;
    /*background-image: url("places/forest.png"); 
     forest bg img https://www.deviantart.com/dexter64/art/Background-for-2d-game-440091856 */
}

.canvas_score {
    border: 1px black;
    background-image: url("chars/ollie_scoreboeard.png");
    background-size:cover;
}

.ollie {
    transform: rotate 30;
}

.kyaa_skadi {
    border-radius: 30%;
    background-color: cornflowerblue;
    font-weight: bold;
}